<section class="footer-top sec-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="../assets/images/d-final-logo-01.png" alt="Blockchain Australia" class="img-fluid mb-4">
                <p class="footer-tagline">Digital marketplace for crypto collectibles and non-fungible tokens (NFTs).
                    Buy, sell, and discover exclusive digital assets.</p>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                        <h4 class="footer__title">NFT Marketplace</h4>
                        <div class="footer__nav">
                            <a href="#">Explore</a>
                            <a href="#">Arts</a>
                            <a href="#">Music</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                        <h4 class="footer__title">NFT Marketplace</h4>
                        <div class="footer__nav">
                            <a href="#">Explore</a>
                            <a href="#">Arts</a>
                            <a href="#">Music</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                        <h4 class="footer__title">NFT Marketplace</h4>
                        <div class="footer__nav">
                            <a href="#">Explore</a>
                            <a href="#">Arts</a>
                            <a href="#">Music</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                        <h4 class="footer__title">NFT Marketplace</h4>
                        <div class="footer__nav">
                            <a href="#">Explore</a>
                            <a href="#">Arts</a>
                            <a href="#">Music</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-3 mb-3 mb-md-0 text-center text-md-left">
                <p class="copyright mb-0">© 2021 Blockchain Australia Solutions</p>
            </div>
            <div class="col-md-5 mb-3 mb-md-0">
                <ul class="privacy-links pl-0 mb-0">
                    <li class="privacy-links-item"><a href="#">Privacy policy</a></li>
                    <li class="privacy-links-item"><a href="terms">Terms and conditions</a></li>
                </ul>
            </div>
            <div class="col-md-4 text-center text-md-right">
                <p class="copyright mb-0">805/220 Collins Street, Melbourne, VIC 3000</p>
            </div>
        </div>
    </div>
</footer>

<script src="../User/js/footer.js"></script>