<!doctype html>
<html lang="en" class="no-js">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" sizes="16x16" href="/assets/images/favicon/favicon.ico">
    <script>
        document.documentElement.classList.remove("no-js");
    </script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="./assets/css/responsive.css">
    <link rel="stylesheet" href="./assets/css/slick.css">
    <link rel="stylesheet" href="./assets/css/slick-theme.css">
    <link rel="stylesheet" href="./assets/sass/main.css">
    <title>Blockchain Australia Solutions</title>
    <meta name="robots" content="noindex, nofollow">
</head>

<body>
    <div class="overlay"></div>
    <%- include('header'); -%>
    <section class="hero sec-padding">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 text-center text-md-left mb-4 mb-md-0">
                    <h1 class="mb-0">The largest Blockchain NFT - 2</h1>
                    <p class="mt-3 mb-3 mt-md-4 mb-md-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                        do eiusmod tempor incididunt ut labore et dolore magna. Ad minim veniam, quis nostrud
                        exercitation ullamco ut aliquip ex ea commodo consequat.</p>
                    <a href="#" class="btn btn-primary btn-peach with-icon"><span>View Our Services</span> <span
                            class="iconify" data-icon="carbon:chevron-right" data-inline="false"></span></a>
                </div>
                <div class="col-md-6">
                    <img src="./assets/images/header-nft-illus.svg" class="img-fluid mx-auto" />
                </div>
            </div>
        </div>
    </section>
    <section class="simple-section simple-sec-padding bg-dark">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2 class="text-capitalize font-size-sec-heading mb-4 mb-md-5 text-white bold-font">On Sale</h2>
                </div>
            </div>
            <div class="row" id="onSaleNFTs"></div>

            <h4 id="onSaleNFTNoNFTData" style="display: none;">No Data Available</h4>
            <div id="onSaleNFTLoader" class="loader">Loading...</div>

            

            <div class="row mt-4 mt-md-5">
                <div class="col text-center">
                    <a href="listing?filter=sale" class="btn btn-primary btn-peach with-icon mx-auto">
                        <span>View all on Sale</span>
                        <span class="iconify" data-icon="carbon:chevron-right" data-inline="false"></span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="simple-section simple-sec-padding bg-dark">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2 class="text-capitalize font-size-sec-heading mb-4 mb-md-5 text-white bold-font">On Sale</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="nft-card">
                        <a href="item.html" class="card__cover">
                            <img src="http://dmitryvolkov.me/demo/unitok/img/cover/cover7.jpg" alt="">
                            <span class="card__time card__time--clock">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M8.46777,8.39453l-.00225.00183-.00214.00208ZM18.42188,8.208a1.237,1.237,0,0,0-.23-.17481.99959.99959,0,0,0-1.39941.41114,5.78155,5.78155,0,0,1-1.398,1.77734,8.6636,8.6636,0,0,0,.1333-1.50977,8.71407,8.71407,0,0,0-4.40039-7.582,1.00009,1.00009,0,0,0-1.49121.80567A7.017,7.017,0,0,1,7.165,6.87793l-.23047.1875a8.51269,8.51269,0,0,0-1.9873,1.8623A8.98348,8.98348,0,0,0,8.60254,22.83594.99942.99942,0,0,0,9.98,21.91016a1.04987,1.04987,0,0,0-.0498-.3125,6.977,6.977,0,0,1-.18995-2.58106,9.004,9.004,0,0,0,4.3125,4.0166.997.997,0,0,0,.71534.03809A8.99474,8.99474,0,0,0,18.42188,8.208ZM14.51709,21.03906a6.964,6.964,0,0,1-3.57666-4.40234,8.90781,8.90781,0,0,1-.17969-.96387,1.00025,1.00025,0,0,0-.79931-.84473A.982.982,0,0,0,9.77,14.80957a.99955.99955,0,0,0-.8667.501,8.9586,8.9586,0,0,0-1.20557,4.71777,6.98547,6.98547,0,0,1-1.17529-9.86816,6.55463,6.55463,0,0,1,1.562-1.458.74507.74507,0,0,0,.07422-.05469s.29669-.24548.30683-.2511a8.96766,8.96766,0,0,0,2.89874-4.63269,6.73625,6.73625,0,0,1,1.38623,8.08789,1.00024,1.00024,0,0,0,1.18359,1.418,7.85568,7.85568,0,0,0,3.86231-2.6875,7.00072,7.00072,0,0,1-3.2793,10.457Z"></path></svg>
                                <span class="card__clock card__clock--2">00:06:17</span>
                            </span>
                        </a>
                        <h3 class="card__title"><a href="item.html">Industrial Revolution</a></h3>
                        <div class="card__author card__author--verified">
                            <img src="http://dmitryvolkov.me/demo/unitok/img/avatars/avatar3.jpg" alt="">
                            <a href="author.html">@midinh</a>
                        </div>
                        <div class="card__info">
                            <div class="card__price">
                                <span>Current price</span>
                                <span>1.11 ETH</span>
                            </div>
                            
                            <button class="card__likes" type="button">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20.16,5A6.29,6.29,0,0,0,12,4.36a6.27,6.27,0,0,0-8.16,9.48l6.21,6.22a2.78,2.78,0,0,0,3.9,0l6.21-6.22A6.27,6.27,0,0,0,20.16,5Zm-1.41,7.46-6.21,6.21a.76.76,0,0,1-1.08,0L5.25,12.43a4.29,4.29,0,0,1,0-6,4.27,4.27,0,0,1,6,0,1,1,0,0,0,1.42,0,4.27,4.27,0,0,1,6,0A4.29,4.29,0,0,1,18.75,12.43Z"></path></svg>
                                <span>23</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="nft-card">
                        <a href="item.html" class="card__cover">
                            <img src="http://dmitryvolkov.me/demo/unitok/img/cover/cover7.jpg" alt="">
                            <span class="card__time card__time--clock">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M8.46777,8.39453l-.00225.00183-.00214.00208ZM18.42188,8.208a1.237,1.237,0,0,0-.23-.17481.99959.99959,0,0,0-1.39941.41114,5.78155,5.78155,0,0,1-1.398,1.77734,8.6636,8.6636,0,0,0,.1333-1.50977,8.71407,8.71407,0,0,0-4.40039-7.582,1.00009,1.00009,0,0,0-1.49121.80567A7.017,7.017,0,0,1,7.165,6.87793l-.23047.1875a8.51269,8.51269,0,0,0-1.9873,1.8623A8.98348,8.98348,0,0,0,8.60254,22.83594.99942.99942,0,0,0,9.98,21.91016a1.04987,1.04987,0,0,0-.0498-.3125,6.977,6.977,0,0,1-.18995-2.58106,9.004,9.004,0,0,0,4.3125,4.0166.997.997,0,0,0,.71534.03809A8.99474,8.99474,0,0,0,18.42188,8.208ZM14.51709,21.03906a6.964,6.964,0,0,1-3.57666-4.40234,8.90781,8.90781,0,0,1-.17969-.96387,1.00025,1.00025,0,0,0-.79931-.84473A.982.982,0,0,0,9.77,14.80957a.99955.99955,0,0,0-.8667.501,8.9586,8.9586,0,0,0-1.20557,4.71777,6.98547,6.98547,0,0,1-1.17529-9.86816,6.55463,6.55463,0,0,1,1.562-1.458.74507.74507,0,0,0,.07422-.05469s.29669-.24548.30683-.2511a8.96766,8.96766,0,0,0,2.89874-4.63269,6.73625,6.73625,0,0,1,1.38623,8.08789,1.00024,1.00024,0,0,0,1.18359,1.418,7.85568,7.85568,0,0,0,3.86231-2.6875,7.00072,7.00072,0,0,1-3.2793,10.457Z"></path></svg>
                                <span class="card__clock card__clock--2">00:06:17</span>
                            </span>
                        </a>
                        <h3 class="card__title"><a href="item.html">Industrial Revolution</a></h3>
                        <div class="card__author card__author--verified">
                            <img src="http://dmitryvolkov.me/demo/unitok/img/avatars/avatar3.jpg" alt="">
                            <a href="author.html">@midinh</a>
                        </div>
                        <div class="card__info">
                            <div class="card__price">
                                <span>Current price</span>
                                <span>1.11 ETH</span>
                            </div>
                            
                            <button class="card__likes" type="button">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20.16,5A6.29,6.29,0,0,0,12,4.36a6.27,6.27,0,0,0-8.16,9.48l6.21,6.22a2.78,2.78,0,0,0,3.9,0l6.21-6.22A6.27,6.27,0,0,0,20.16,5Zm-1.41,7.46-6.21,6.21a.76.76,0,0,1-1.08,0L5.25,12.43a4.29,4.29,0,0,1,0-6,4.27,4.27,0,0,1,6,0,1,1,0,0,0,1.42,0,4.27,4.27,0,0,1,6,0A4.29,4.29,0,0,1,18.75,12.43Z"></path></svg>
                                <span>23</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="nft-card">
                        <a href="item.html" class="card__cover">
                            <img src="http://dmitryvolkov.me/demo/unitok/img/cover/cover7.jpg" alt="">
                            <span class="card__time card__time--clock">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M8.46777,8.39453l-.00225.00183-.00214.00208ZM18.42188,8.208a1.237,1.237,0,0,0-.23-.17481.99959.99959,0,0,0-1.39941.41114,5.78155,5.78155,0,0,1-1.398,1.77734,8.6636,8.6636,0,0,0,.1333-1.50977,8.71407,8.71407,0,0,0-4.40039-7.582,1.00009,1.00009,0,0,0-1.49121.80567A7.017,7.017,0,0,1,7.165,6.87793l-.23047.1875a8.51269,8.51269,0,0,0-1.9873,1.8623A8.98348,8.98348,0,0,0,8.60254,22.83594.99942.99942,0,0,0,9.98,21.91016a1.04987,1.04987,0,0,0-.0498-.3125,6.977,6.977,0,0,1-.18995-2.58106,9.004,9.004,0,0,0,4.3125,4.0166.997.997,0,0,0,.71534.03809A8.99474,8.99474,0,0,0,18.42188,8.208ZM14.51709,21.03906a6.964,6.964,0,0,1-3.57666-4.40234,8.90781,8.90781,0,0,1-.17969-.96387,1.00025,1.00025,0,0,0-.79931-.84473A.982.982,0,0,0,9.77,14.80957a.99955.99955,0,0,0-.8667.501,8.9586,8.9586,0,0,0-1.20557,4.71777,6.98547,6.98547,0,0,1-1.17529-9.86816,6.55463,6.55463,0,0,1,1.562-1.458.74507.74507,0,0,0,.07422-.05469s.29669-.24548.30683-.2511a8.96766,8.96766,0,0,0,2.89874-4.63269,6.73625,6.73625,0,0,1,1.38623,8.08789,1.00024,1.00024,0,0,0,1.18359,1.418,7.85568,7.85568,0,0,0,3.86231-2.6875,7.00072,7.00072,0,0,1-3.2793,10.457Z"></path></svg>
                                <span class="card__clock card__clock--2">00:06:17</span>
                            </span>
                        </a>
                        <h3 class="card__title"><a href="item.html">Industrial Revolution</a></h3>
                        <div class="card__author card__author--verified">
                            <img src="http://dmitryvolkov.me/demo/unitok/img/avatars/avatar3.jpg" alt="">
                            <a href="author.html">@midinh</a>
                        </div>
                        <div class="card__info">
                            <div class="card__price">
                                <span>Current price</span>
                                <span>1.11 ETH</span>
                            </div>
                            
                            <button class="card__likes" type="button">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20.16,5A6.29,6.29,0,0,0,12,4.36a6.27,6.27,0,0,0-8.16,9.48l6.21,6.22a2.78,2.78,0,0,0,3.9,0l6.21-6.22A6.27,6.27,0,0,0,20.16,5Zm-1.41,7.46-6.21,6.21a.76.76,0,0,1-1.08,0L5.25,12.43a4.29,4.29,0,0,1,0-6,4.27,4.27,0,0,1,6,0,1,1,0,0,0,1.42,0,4.27,4.27,0,0,1,6,0A4.29,4.29,0,0,1,18.75,12.43Z"></path></svg>
                                <span>23</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="onSaleNFTs"></div>

            <h4 id="onSaleNFTNoNFTData" style="display: none;">No Data Available</h4>
            <div id="onSaleNFTLoader" class="loader">Loading...</div>

            

            <div class="row mt-4 mt-md-5">
                <div class="col text-center">
                    <a href="listing?filter=sale" class="btn btn-primary btn-peach with-icon mx-auto">
                        <span>View all on Sale</span>
                        <span class="iconify" data-icon="carbon:chevron-right" data-inline="false"></span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- <section class="simple-section simple-sec-padding bg-light-purple">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2
                        class="text-uppercase font-size-sec-heading mb-4 mb-md-5 text-center font-family-infra-bold text-dark-blue">
                        On Auction</h2>
                </div>
            </div>
            <div class="row" id="onAuctionNFTs"> </div>

            <h4 id="onAuctionNFTNoNFTData" style="display: none;">No Data Available</h4>
            <div id="onAuctionNFTLoader" class="loader">Loading...</div>
            

            <div class="row mt-4 mt-md-5">
                <div class="col text-center">
                    <a href="listing?filter=auction" class="btn btn-primary btn-peach with-icon mx-auto">
                        <span>View all on auction</span>
                        <span class="iconify" data-icon="carbon:chevron-right" data-inline="false"></span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="simple-section simple-sec-padding bg-white">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2
                        class="text-uppercase font-size-sec-heading mb-4 mb-md-5 text-center font-family-infra-bold text-dark-blue">
                        Recently Added</h2>
                </div>
            </div>
            <div class="row" id="recentlyAddedNFTs"></div>
            

            <h4 id="recentlyAddedNFTNoNFTData" style="display: none;">No Data Available</h4>
            <div id="recentlyAddedNFTLoader" class="loader">Loading...</div>

            <div class="row mt-4 mt-md-5">
                <div class="col text-center">
                    <a href="listing?sort=Recently Added" class="btn btn-primary btn-peach with-icon mx-auto">
                        <span>View recently added</span>
                        <span class="iconify" data-icon="carbon:chevron-right" data-inline="false"></span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="simple-section simple-sec-padding bg-light-purple">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2
                        class="text-uppercase font-size-sec-heading mb-4 mb-md-5 text-center font-family-infra-bold text-dark-blue">
                        Most Viewed</h2>
                </div>
            </div>
            <div class="row" id="nftlist"> </div>
            <h4 id="MostViewedNFTNoNFTData" style="display: none;">No Data Available</h4>
            <div id="MostViewedNFTLoader" class="loader">Loading...</div>
            
            
            <div class="row mt-4 mt-md-5">
                <div class="col text-center">
                    <a href="listing?sort=Most Viewed" class="btn btn-primary btn-peach with-icon mx-auto">
                        <span>View most viewed</span>
                        <span class="iconify" data-icon="carbon:chevron-right" data-inline="false"></span>
                    </a>
                </div>
            </div>
        </div>
    </section> -->
    <%- include('footer'); -%>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.0/jquery.min.js"
        integrity="sha512-0nVWK03Ud0k6o8wDkri8jxX9zQIn00ZHVud3iqBTwd2bGFwJDQShGVb3+vX1adCRxQckKQrIQMFmIA3tfWe+Mg=="
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous">
    </script>

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <script type="text/javascript" src="./assets/js/slick.min.js"></script>
    <script type="text/javascript" src="./assets/js/modernizr-custom.js"></script>
    <script type="text/javascript" src="./assets/js/main.js"></script>
    <script src="../User/js/landing.js"></script>
</body>

</html>